@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Shrikhand, Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: center;
  position: relative;
}
.heading__btnprevious {
  color: #353535;
  position: absolute;
  left: 15px;
  top: 30px;
}
.heading__logo {
  width: 185px;
}

.destination {
  display: flex;
  background: #e6e6e6;
  color: black;
  padding: 20px;
  box-shadow: inset 0px 4px 4px #c8c8c8;
  justify-content: center;
}
.destination__icn {
  margin: auto 13px auto 0px;
  color: #353535;
}
.destination__title {
  margin-right: 13px;
  color: #353535;
  border: none;
  background-color: #e6e6e6;
  font-weight: bold;
  width: 130px;
}
.destination__title:focus {
  outline: none;
}

.search-restaurants {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.search-restaurants__title {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}
.search-restaurants__description {
  color: #353535;
  font-weight: 300;
  margin-bottom: 0;
}
.search-restaurants__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  width: 250px;
  margin-top: 20px;
  box-shadow: 0px 0px 8px #c8c8c8;
}

.functioning {
  margin: 20px;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
}

.summary-element {
  display: flex;
  background: #f9f9f9;
  margin-bottom: 25px;
  border-radius: 21px;
  box-shadow: 0px 0px 8px #c8c8c8;
  padding: 8px;
  position: relative;
}
.summary-element__position {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #9356DC;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  margin: auto 0px auto;
  position: absolute;
  bottom: 20px;
  left: -13px;
}
.summary-element__icn {
  margin: auto 0px auto;
  color: #7e7d7d;
  margin-left: 28px;
  margin-right: 28px;
}
.summary-element__wording {
  font-weight: bold;
}

.restaurants {
  padding: 20px;
  background: #f9f9f9;
}

.restaurant {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 8px #c8c8c8;
  margin-bottom: 20px;
  background: white;
  overflow: hidden;
  position: relative;
}

.restaurant-link__img {
  border-radius: 15px 15px 0px 0px;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 220px;
  width: 100%;
}
.restaurant-link__new {
  background-color: #95e2d2;
  color: #1b6651;
  border-radius: 2px;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 8px;
}
.restaurant-link__presentation {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: white;
  position: relative;
  border-radius: 0px 0px 15px 15px;
}
.restaurant-link__presentation__name {
  font-weight: bold;
}

.restaurant__favourite {
  position: absolute;
  right: 15px;
  bottom: 35px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  transition: 600ms ease-in-out;
}
.restaurant__favourite:hover {
  -webkit-text-fill-color: #9356DC;
  -webkit-text-stroke-width: 0px;
}

footer {
  background: #242424;
  margin-top: 60px;
  padding: 20px;
  padding-top: 30px;
}

.logo-footer {
  font-size: 20px;
  font-weight: 100;
  color: white;
}

.list-footer {
  padding: 0px;
  list-style-type: none;
}
.list-footer__elem {
  margin-bottom: 5px;
}
.list-footer__elem__icn {
  color: white;
  width: 25px;
}
.list-footer__elem__link {
  color: white;
}

.img-restaurant {
  object-fit: cover;
  height: 270px;
  width: 100%;
}

.menu-restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  background: #f9f9f9;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  margin-top: -55px;
}
.menu-restaurant__name {
  display: flex;
  position: relative;
}
.menu-restaurant__name__title {
  margin-bottom: 0px;
}
.menu-restaurant__name__favourite {
  position: absolute;
  right: 40px;
  top: 30px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  transition: 600ms ease-in-out;
}
.menu-restaurant__name__favourite:hover {
  -webkit-text-fill-color: #9356DC;
  -webkit-text-stroke-width: 0px;
}

.menu-type__name {
  display: flex;
  margin-top: 35px;
  color: #4b4b4b;
  font-size: 0.91rem;
  margin-left: 6px;
  position: relative;
}
.menu-type__name::after {
  content: "";
  display: block;
  width: 37px;
  height: 2px;
  background: #95e2d2;
  position: absolute;
  bottom: -5px;
}

.menu-type__elements {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  padding: 10px 15px 7px 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 8px #c8c8c8;
  cursor: pointer;
}
.menu-type__elements__title {
  font-weight: bold;
}
.menu-type__elements__infos {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.menu-type__elements__infos__description {
  font-size: 0.85rem;
  color: #4b4b4b;
}
.menu-type__elements__infos__price {
  font-size: 0.9rem;
  font-weight: bold;
}

.menu-restaurant__command-btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 15px 0 15px 0;
  border-radius: 30px;
  display: block;
  width: 250px;
  margin-top: 30px;
  text-align: center;
  align-self: center;
  box-shadow: 0px 0px 8px #c8c8c8;
}

/*# sourceMappingURL=style.css.map */
