@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Shrikhand, Verdana, Geneva, Tahoma, sans-serif;
}

.load-screen {
  background: white;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: extinction 1s 2.5s forwards;
  display: none;
}
.load-screen__spinner {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2rem solid rgba(161, 160, 160, 0.205);
  background: linear-gradient(#FF79DA, #9356DC);
  border-top: 2rem solid #FF79DA;
  border-bottom: 2rem solid #FF79DA;
  animation: moving 2.5s 0.2s 1;
  opacity: 1;
}
.load-screen__icn {
  color: white;
}

header {
  background: white;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: sticky;
  top: 0;
}

.heading {
  display: flex;
  justify-content: center;
  position: relative;
  height: 60px;
  align-items: center;
}
.heading__btnprevious {
  color: #353535;
  position: absolute;
  left: 15px;
  top: 22px;
}

@keyframes moving {
  0% {
    transform: translateY(-500px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) rotate(1turn);
  }
}
@keyframes extinction {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.destination {
  display: flex;
  background: #e6e6e6;
  color: black;
  padding: 20px;
  box-shadow: inset 0px 4px 4px #c8c8c8;
  justify-content: center;
}
.destination__icn {
  margin: auto 13px auto 0px;
  color: #353535;
}
.destination__title {
  margin-right: 13px;
  color: #353535;
  border: none;
  background-color: #e6e6e6;
  font-weight: bold;
  width: 130px;
}
.destination__title:focus {
  outline: none;
}

.search-restaurants {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
.search-restaurants__title {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}
.search-restaurants__description {
  color: #353535;
  font-weight: 300;
  margin-bottom: 0;
}
.search-restaurants__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 15px 20px 15px 20px;
  border-radius: 30px;
  width: 250px;
  margin-top: 20px;
  box-shadow: 0px 0px 8px #c8c8c8;
  transition: background 600ms, box-shadow 600ms;
}
.search-restaurants__btn:hover {
  background: linear-gradient(#ff8de0, #9e67e0);
  box-shadow: 0px 2px 18px #c8c8c8;
}

.functioning {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.functioning__title {
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 25px;
}

.summary-element {
  display: flex;
  background: #f9f9f9;
  margin-bottom: 25px;
  border-radius: 21px;
  box-shadow: 0px 0px 8px #c8c8c8;
  padding: 8px;
  position: relative;
  transition: background 200ms ease-in-out;
}
.summary-element__position {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #9356DC;
  border-radius: 100px;
  height: 25px;
  width: 25px;
  margin: auto 0px auto;
  position: absolute;
  bottom: 20px;
  left: -13px;
}
.summary-element__icn {
  margin: auto 0px auto;
  color: #7e7d7d;
  margin-left: 28px;
  margin-right: 28px;
}
.summary-element__wording {
  font-weight: bold;
}
.summary-element:hover {
  background: #9256dc2f;
  cursor: pointer;
  transform: scale(1.01);
}

.summary-element:hover > .summary-element__icn {
  color: #9356DC;
}

.restaurants {
  padding: 20px;
  background: #f9f9f9;
}

.restaurant {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 8px #c8c8c8;
  margin-bottom: 20px;
  background: white;
  overflow: hidden;
  position: relative;
}
.restaurant:hover {
  filter: brightness(1.1);
  box-shadow: 0px 0px 8px #888888;
}

.restaurant-link__img {
  border-radius: 15px 15px 0px 0px;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 220px;
  width: 100%;
}
.restaurant-link__new {
  background-color: #95e2d2;
  color: #1b6651;
  border-radius: 2px;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 8px;
}
.restaurant-link__presentation {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background: white;
  position: relative;
  border-radius: 0px 0px 15px 15px;
}
.restaurant-link__presentation__name {
  font-weight: bold;
}
.restaurant-link__presentation__location {
  margin-top: 3px;
}

.restaurant__favourite {
  position: absolute;
  right: 15px;
  bottom: 20px;
  transition: color 300ms ease-in-out;
  color: black;
}
.restaurant__favourite:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  cursor: pointer;
}

.restaurant__favourite.fa-stack-1x {
  left: unset;
  width: unset;
  font-weight: 100;
}
.restaurant__favourite.fa-stack-1x:hover {
  font-weight: 800;
}

@media screen and (min-width: 768px) {
  .summary {
    display: flex;
    flex-wrap: wrap;
  }
  .summary-element {
    margin-right: 15px;
    margin-left: 15px;
    flex: 1 0 auto;
  }

  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants__title {
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
  }

  .restaurant {
    margin-right: 15px;
    margin-left: 15px;
    flex: 1 0 450px;
  }
}
footer {
  background: #242424;
  margin-top: 60px;
  padding: 20px;
  padding-top: 30px;
}

.logo-footer {
  font-size: 20px;
  font-weight: 100;
  color: white;
}

.list-footer {
  padding: 0px;
  list-style-type: none;
}
.list-footer__elem {
  margin-bottom: 5px;
}
.list-footer__elem__icn {
  color: white;
  width: 25px;
}
.list-footer__elem__link {
  color: white;
}

.img-restaurant {
  object-fit: cover;
  height: 270px;
  width: 100%;
}

.menu-restaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 5;
  background: #f9f9f9;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  margin-top: -55px;
}
.menu-restaurant__name {
  display: flex;
  position: relative;
}
.menu-restaurant__name__title {
  margin-bottom: 0px;
}
.menu-restaurant__name__favourite {
  position: absolute;
  right: 40px;
  top: 20px;
  transition: color 300ms ease-in-out;
  color: black;
}
.menu-restaurant__name__favourite:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  cursor: pointer;
}

.menu-restaurant__name__favourite.fa-stack-1x {
  left: unset;
  width: unset;
  font-weight: 100;
}
.menu-restaurant__name__favourite.fa-stack-1x:hover {
  font-weight: 800;
}

.menu-type__name {
  display: flex;
  margin-top: 35px;
  color: #4b4b4b;
  font-size: 15px;
  margin-left: 6px;
  position: relative;
}
.menu-type__name::after {
  content: "";
  display: block;
  width: 37px;
  height: 2px;
  background: #95e2d2;
  position: absolute;
  bottom: -5px;
}

.menu-type__elements {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  padding: 15px 15px 7px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 8px #c8c8c8;
  cursor: pointer;
  animation: shadingmoving 1s 0.2s 1;
  position: relative;
  overflow: hidden;
}
.menu-type__elements__title {
  font-weight: bold;
}
.menu-type__elements__infos {
  display: flex;
  margin-top: 4px;
}
.menu-type__elements__infos__description {
  font-size: 15px;
  color: #4b4b4b;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}
.menu-type__elements__infos__price {
  width: 20%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.TEST {
  width: 100%;
  display: block;
  transition: 800ms;
}

.CHECKED {
  background: #95e2d2;
  color: white;
  padding: 0px;
  width: 50px;
  display: block;
  position: absolute;
  left: 100%;
  line-height: 50px;
  text-align: center;
  transition: 800ms;
}

.menu-type__elements:hover > .CHECKED {
  left: calc(100% - 50px);
}

.menu-type__elements:hover > .TEST {
  width: 87%;
}

.menu-restaurant__command-btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  padding: 15px 0 15px 0;
  border-radius: 30px;
  display: block;
  width: 250px;
  margin-top: 30px;
  text-align: center;
  align-self: center;
  box-shadow: 0px 0px 8px #c8c8c8;
}
.menu-restaurant__command-btn:hover {
  background: linear-gradient(#ff8de0, #9e67e0);
  box-shadow: 0px 2px 18px #c8c8c8;
}

@keyframes shadingmoving {
  0% {
    opacity: 0%;
    transform: translateY(30px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@media screen and (min-width: 668px) {
  .menu-types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu-type {
    margin-left: 14px;
    margin-right: 14px;
    flex: 1 0 250px;
  }
}

/*# sourceMappingURL=style.css.map */
