// ---------- MAIN CONTENT ---------- //

.img-restaurant{
        object-fit: cover;
        height: 270px;
        width: 100%;
}

// ALL RESTAURANT INFORMATIONS 

.restaurant-content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-content: center;
    z-index: 5;
    background: rgb(249, 249, 249);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    margin-top: -55px;
    &__name{
        display: flex;
        position: relative;
        &__title{
            margin-bottom: 0px;
        }
        &__favourite{
            position: absolute;
            right: 40px;
            top: 20px;
            transition: color 300ms ease-in-out;
            color: black;
            &:hover{
                background: linear-gradient($color-primary, $color-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.restaurant-content__name__favourite.fa-stack-1x{
    left: unset;
    width: unset;
    font-weight: 100;
    &:hover{
        font-weight: 800;
    }
}

.menu-types{
    display: flex;
    flex-direction: column;
}

.menu-type{
    &__name{
        display: flex;
        margin-top: 35px;
        color: rgb(75, 75, 75);
        font-size: 15px;
        margin-left: 6px;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 37px;
            height: 2px;
            background: $color-tertiary;
            position: absolute;
            bottom: -5px;
        }
    }
}

// BLOC OF EACH MENUS

.menu-content{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    padding: 15px 15px 7px 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px darken(rgb(238, 238, 238),15);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 400ms;
    &__elements{
        width: 100%;
        display: block;
        transition: 400ms;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &__title{
            font-weight: bold;
            
        }
        &__infos{
            display: flex;
            margin-top: 4px;
            &__description{
                font-size: 15px;
                color: rgb(75, 75, 75);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 80%;
            }
            &__price{
                width: 20%;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
    &__validate{
        background: $color-tertiary;
        color: white;
        width: 50px; 
        position: absolute;
        left: 100%;
        top: 0px;
        bottom: 0px;
        text-align: center;
        transition: all 400ms , transform 1s;
        padding-top: 23px;
    }
}

.menu-content:hover > .menu-content__validate{
    left: calc(100% - 50px);
}

.menu-content__validate__icn{
    transform: rotate(0deg);
    transition: 700ms;
}

.menu-content:hover .menu-content__validate__icn{
    transform: rotate(2turn);
}

.menu-content:hover > .menu-content__elements{
    width: calc(100% - 50px);
}

.menu-content:nth-child(1){
    animation: shadingmoving 1s;
}

.menu-content:nth-child(2){
    animation: shadingmoving 1.2s 0.1s;
}

.menu-content:nth-child(3){
    animation: shadingmoving 1.4s 0.2s;
}

.menu-content:nth-child(4){
    animation: shadingmoving 1.6s 0.3s;
}

.menu-content:nth-child(5){
    animation: shadingmoving 1.8s 0.4ms;
}

.menu-content:nth-child(6){
    animation: shadingmoving 2s 0.5ms;
}

.menu-content:nth-child(7){
    animation: shadingmoving 2.2s 0.6ms;
}

.menu-content:nth-child(8){
    animation: shadingmoving 2.4s 0.7ms;
}

.menu-content:nth-child(9){
    animation: shadingmoving 2.6s 0.8ms;
}

// COMMAND BUTTON

.restaurant-content__command-btn{
    background: linear-gradient($color-secondary,$color-primary);
    color: white;
    padding: 15px 0 15px 0;
    border-radius: 30px;
    display: block;
    width: 250px;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0px 0px 8px darken(rgb(238, 238, 238),15);
    align-self: center;
    &:hover{
        background: linear-gradient(lighten($color-secondary,4) , lighten($color-primary,4));
        box-shadow: 0px 2px 18px darken(rgb(238, 238, 238), 15);
    }
}

// ANIMATIONS MENUS KEYFRAMES

@keyframes shadingmoving {
    0% {
        opacity: 0%;
        transform: translateY(30px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

// RESPONSIVE 668 PX

@media screen and (min-width: 668px) {
    
    .menu-types{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu-type{
        margin-left: 14px;
        margin-right: 14px;
        flex: 1 0 350px;
    }
}