// PRESENTATION

.destination{
    display: flex;
    background: rgb(230, 230, 230);
    color: black;
    padding: 20px;
    box-shadow: inset 0px 4px 4px darken(rgb(238, 238, 238),15);
    justify-content: center;
    &__icn{
        margin: auto 13px auto 0px;
        color: rgb(53, 53, 53);
    }
    &__title{
        margin-right: 13px;
        color: rgb(53, 53, 53);
        border: none;
        background-color: rgb(230, 230, 230);
        font-weight: bold;
        width: 130px;
        &:focus{
            outline: none;
        }
    }
}

.search-restaurants{
    display: flex;
    flex-direction: column;
    background: rgb(249, 249, 249);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    &__title{
        font-size: 26px;
        font-weight: bold;
        margin: 0;
    }
    &__description{
        color: rgb(53, 53, 53);
        font-weight: 300;
        margin-bottom: 0;
    }
    &__btn{
        background: linear-gradient($color-secondary,$color-primary);
        color: white;
        padding: 15px 20px 15px 20px;
        border-radius: 30px;
        width: 250px;
        margin-top: 20px;
        box-shadow: 0px 0px 8px darken(rgb(238, 238, 238),15);
    }
}

// FUNCTIONING

.functioning{
    margin: 20px;
}

.title{
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}

.summary-element{
    display: flex;
    background: rgb(249, 249, 249);
    margin-bottom: 25px;
    border-radius: 21px;
    box-shadow: 0px 0px 8px darken(rgb(238, 238, 238), 15);
    padding: 8px;
    position: relative;
    &__position{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: #9356DC;
        border-radius: 100px;
        height: 25px;
        width: 25px;
        margin: auto 0px auto;
        position: absolute;
        bottom: 20px;
        left: -13px;
    }
    &__icn{
        margin: auto 0px auto;
        color: rgb(126, 125, 125);
        margin-left: 28px;
        margin-right: 28px;
    }
    &__wording{
        font-weight: bold;
    }
}

// RESTAURANTS

.restaurants{
    padding: 20px;
    background: rgb(249, 249, 249);
}

.restaurant{
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 8px darken(rgb(238, 238, 238),15);
    margin-bottom: 20px;
    background: white;
    overflow: hidden;
    position: relative;
}

.restaurant-link{
    &__img{
        border-radius: 15px 15px 0px 0px;
        background-repeat: no-repeat;
        object-fit: cover;
        height: 220px;
        width: 100%;
    }
    &__new{
        background-color: #95e2d2;
        color: #1b6651;
        border-radius: 2px;
        position: absolute;
        right: 15px;
        top: 15px;
        padding: 8px;
    }
    &__presentation{
        display: flex;
        flex-direction: column;
        padding: 15px;
        background: white;
        position: relative;
        border-radius: 0px 0px 15px 15px;
        &__name{
            font-weight: bold;
        }
    }
}

.restaurant__favourite{
        position: absolute;
        right: 15px;
        bottom: 35px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        transition: 600ms ease-in-out;
        &:hover{
            -webkit-text-fill-color: #9356DC;
            -webkit-text-stroke-width: 0px;
        }
}

