header{
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    &__logo{
        width: 180px;
    }
}
