.load-screen{
    background: white;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: extinction 1s 2.5s forwards;
    display: none;
    &__spinner{
        position: absolute;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 2rem solid rgba(161, 160, 160, 0.205);
        background: linear-gradient(#FF79DA,#9356DC);;
        border-top: 2rem solid #FF79DA;
        border-bottom: 2rem solid #FF79DA;
        animation: moving 2.5s 0.2s 1;
        opacity: 1;
    }
    &__icn{
        color: white;
    }
}

header{
    background: white;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: sticky;
    top: 0;
}

.heading{
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    align-items: center;
    &__btnprevious{
       color: rgb(53, 53, 53); 
       position: absolute;
       left: 15px;
       top: 22px;
    }
}

@keyframes moving{
    0% {
        transform: translateY(-500px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(1turn);
    }
}

@keyframes extinction{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

